hr{
    width:35%;
}
.header{
    font-family: Georgia;
    font-size: 54px;
    text-align: center;
    color: darkred;
}
.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3vw;
  }
  .for-you{
    text-align: center;
    font-family: serif;
    color: darkred;
  }
  .price{
    font-size: 54px;
    font-family: sans-serif;
    color: darkred;
    text-align: center;
  }
.code{
  text-align: center;
}
#code1{
  color: darkred;
  margin-top: 10px;
  /* text-align: center; */
}
.box{
  height: 5vh;
  width: 11vw;
  border: 1px #3F3B38;
  margin-left: 44%;
  text-align: center;
}
.consol{
  height: 8vh;
  width: 35vw;
  background-color:  #3F3B38;
  margin-left: 32%;

}
.consol img{
  margin-left: 13vw;
  margin-top: 4px; 
}
.redeem{
  text-align:center;
  color: darkred;
}
.member{
  margin-left: 10%;
}
.box-one{
  display: inline-block;
  text-align: center;
  width: 440px;
  height: 180px;
  padding: 5px;
  padding-right: 15px;
  }
  .mem{
    color: darkred;
  }
.box-two{
  display: inline-block;
  text-align: center;
  width: 470px;
  height: 180px;
  padding-left: 15px;
  border-left: 2px solid black;
}